<!DOCTYPE html>

<html>
    <head>
        <title>À Propos</title>
        <link rel="icon" href="/assets/weatherIcon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="mainContent">
            {{>header}}
            <div class="row aboutContent">
                <div class="col-sm-12 col-md-6">
                    <img class="avatar" src="/assets/Avatar.png">
                </div>
                <div class="col-sm-12 col-md-6" >
                    <p class="aboutText" style="padding-top: 15px;">
                        Bienvenue! Ma nom est Shawn. Je suis femme de 26 ans et une programmeure sur le web!
                    </p>
                </div>
            </div>
        </div>

        {{>footer}}
    </body>
</html>