<!DOCTYPE html>

<html>
    <head>
        <title>Météo API</title>
        <link rel="icon" href="/assets/weatherIcon.png">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="mainContent">
            {{>header}}
            <h3>Essayer Moi: </h3>

            <form>
                <input placeholder="En Lieu">
                <button class="weatherFormButton">Rechercher</button>
            </form>

            <p id="messageUn">

            </p>
            <div id="messageDeux">

            </div>
        </div>

        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>